<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>N-Gage Emulation Docs</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
      section {
        width: auto;
        float: none;
      }
      footer {
        
      }
      ul ul {
        margin-bottom: 0;
      }
      footer {
        float: none;
        position: static;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <section>
      {{ content }}
      </section>
      <footer>
        <a href="http://www.loociano.com">loociano.com</a> · <a href="https://github.com/loociano/N-Gage-emu-docs">GitHub</a>
      </footer>
    </div>
  </body>
</html>
